{% extends '_base.html' %}

{% block content %}
  <div class='container'>
    <table>
      <thead>
        <tr>
          <th>表示名</th>
          <th>名前</th>
          <th>類似度</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td><a href="/learn/display/{{ user.screen_name }}/"> {{ user.screen_name }}</a></td>
            <td>{{ user.name }}</td>
            <td>{{ user.similarity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'pagenate.html' %}

{% endblock %}