{% extends '_base.html' %}
{% load static %}

{% block content%}
  <div class='container'>
    <table>
      <tr>
        <th>銘柄コード</th>
        <th width="60%">銘柄名</th>
        <th>上場市場</th>
        <th>リンク</th>
      </tr>
    {% for bland in page_obj %}
      <tr>
        <td><a href ="?bland_cd={{bland.bland_cd}}"> {{bland.bland_cd}} </a></td>
        <td> {{bland.bland_name}} </td>
        <td> {{bland.market_prod_cls}} </td>
        <td><a href ={{bland.access_url_string}}> <img src="{% static "images/link.png" %}" width="10%" height="10%"> </a></td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% include 'pagenate.html' %}
{% endblock content%}
