{% extends '_base.html' %}
{% load static %}

{% block content %}
  <div class='container'>
    <div class='row align-items-center'>
      <h2>{{bland_info.bland_name}}({{stock_info.bland_cd_id}})</h2>
      <h3>{{stock_info.market_prod_cls}}</h3>
    <div class='col-12 col-md-6 mb-4 mb-md-0 text-left'>
      変動予測：{{pred_result.0}} <br> 
      精度：{{pred_result.1}}%
    </div>
    </div>
  </div>
  <div class='container'>
    <div class='row align-items-center'>
      <div align='center' style='margin:0px;padding:0px;'></div>
      <table>
        <tbody>
          <tr>
            <th>現在値</th>
            <th>前日比</th>
            <th>始値</th>
            <th>高値</th>
            <th>安値</th>
            <th>売上高</th>
            <th>予想PER</th>
            <th>予想配当利回り</th>
            <th>PBR</th>
            <th>ROE（予想）</th>
          </tr>
          <tr>
              <td> {{stock_info.current_price}} </td>
              <td> {{stock_info.day_before_ratio}} </td>
              <td> {{stock_info.opening_price}} </td>
              <td> {{stock_info.high_orice}} </td>
              <td> {{stock_info.low_price}}</td>
              <td> {{stock_info.sales_volume}}</td>
              <td> {{stock_info.exp_per}}</td>
              <td> {{stock_info.exp_dividend_yield}}</td>
              <td> {{stock_info.pbr}}</td>
              <td> {{stock_info.exp_roe}}</td>
          </tr>
          <tr>
            <th>株式益回り（予想）</th>
            <th>普通株式数</th>
            <th>時価総額</th>
            <th>株主優待</th>
            <th>年初来高値</th>
            <th>年初来安値</th>
            <th>10年来高値</th>
            <th>10年来安値</th>
            <th>売買単位</th>
            <th>最低購入金額</th>
          </tr>
          <tr>
            <td> {{stock_info.exp_stock_gain}} </td>
            <td> {{stock_info.common_stock_number}} </td>
            <td> {{stock_info.market_capitalization}} </td>
            <td> {{stock_info.special_treatment}} </td>
            <td> {{stock_info.year_to_date_high_price}} </td>
            <td> {{stock_info.year_to_date_low_price}} </td>
            <td> {{stock_info.years_10_high}} </td>
            <td> {{stock_info.years_10_low}} </td>
            <td> {{stock_info.trading_unit}} </td>
            <td> {{stock_info.minimum_purchase_price}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='container'>
      <span class='image'>
          <img src="{% static "images/main_chart.png" %}">
      </span>
      <button type="button" onClick="reload('day')">日足</button>
      <button type="button" onClick="reload('week')">週足</button>
      <button type="button" onClick="reload('month')">月足</button>
      <button type="button" onClick="reload('year')">年足</button>
      <script type="text/javascript">
        function reload(sample_mode){
          var url = location.href.split('?')[0];
          url = url + '?bland_cd=' + {{stock_info.bland_cd_id}} + '&sample_mode=' + sample_mode
          window.location.href = url;
        }
      </script>
  </div>
{% endblock %}