<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a class="page-link text-primary d-inline-block" href="?page=1">最初</a></li>
        {% else %}
            <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">最初</div></li>
        {% endif %}

        {% for link_page in page_obj.paginator.page_range %}
            {% if link_page %}
                {% if link_page == page_obj.number %}
                    <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ link_page }}</div></li>
                {% elif link_page == page_obj.next_page_number %}
                    <li><a class="page-link text-primary d-inline-block" href="?page={{ link_page }}">{{ link_page }}</a></li>
                {% elif link_page == page_obj.previous_page_number %}
                    <li><a class="page-link text-primary d-inline-block" href="?page={{ link_page }}">{{ link_page }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a class="page-link text-primary d-inline-block" href="?page={{ paginator.count }}">最後</a></li>
        {% else %}
            <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">最後</div></li>
        {% endif %}
    </ul>
</nav>
